<html>
    <%- include('./partials/head.ejs')  %> 
    <body>
        
        <%- include('./partials/nav.ejs')  %> 

        <div class="about content">
            <h2>About Us</h2>
            <p>My name is Nati.</p>
            <p>The course is called "Node.js Crash-Course"</p>
            <p>I have added an authentication protocol where a user can only add, update </p>
            <p>or delete a blog if he/ she has signed up or is logged in. To try all the features, register, </p>
            <p>and upload your own blog. Have Fun!</p>
            
        </div>
        <%- include('./partials/footer.ejs')  %> 
    </body>
</html>